* {
  box-sizing: border-box;
  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-bg-color);
    border-radius: 4px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

html {
  font-size: var(--font-size);
}

body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  color: var(--body-text-color);
  line-height: 1.6;
}
a {
  color: var(--url-text-color);
  text-decoration: none;
}
